.another {
  margin-top: 285px;
  width: 100%;
  padding: 20px 15px;
  background-color: #fff;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  &__header {
    @include heading-1;

    margin-bottom: 22px;
  }

  &__caption {
    @include body;

    text-align: left;
  }
}

.article {
  &__header {
    @include heading-2;
  }

  &__caption {
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    text-align: left;

    color: $colorBlack;
  }
}

.img-container {
  height: 250px;

  &__caption {
    @include body;

    color: $colorTextSecondary;
    text-align: left;
  }
}
