.btn {
  display: block;
  margin: 0 auto;
  padding: $space-xxs $space-md;

  min-width: 210px;
  height: 48px;

  @include buttonText;

  color: $colorBlack;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  border: none;
  border-radius: 4px;

  &--small {
    min-width: 94px;
    padding: 8px 16px;
  }

  &--full-width {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not(:disabled),
  &:active:not(:disabled) {
    cursor: pointer;
  }

  &--primary {
    background-color: $colorSunCity;

    &:disabled {
      background-color: $colorDisabled;
    }

    &:active:not(:disabled) {
      background-color: $colorPressed;
    }
  }
}
