.schema-form,
.form {
  padding: $space-md $space-xs;

  width: 100%;

  background-color: #fff;

  &__header {
    @include heading-1;
    margin: 0 0 $space-xl;
  }

  &__subheader {
    width: 100%;

    margin: 21px 0 14px;
    padding: 0 50px;

    font-size: 1.07rem;
    color: #303035;
  }

  &__item {
    display: inline-block;

    font-size: 0.86rem;
    color: #303035;
  }

  &__separator {
    border: none;
    border-bottom: 1px solid #f0f1f3;
    margin: 22px auto;
    width: 222px;
  }
}

.item {
  position: relative;
  width: 100%;
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 28px;
  }

  &__headline {
    display: block;
    position: relative;

    font-weight: 700;
    text-align: left;
  }

  &__text {
    display: block;
    margin-bottom: 9px;
  }

  &__required {
    color: #eb0909;
  }

  &__input {
    @include input;

    width: 100%;
    height: 48px;
  }

  &__textarea {
    @include textarea;

    width: 100%;

    min-height: 50px;
    max-height: 250px;
  }

  &__select {
    @include select;

    width: 100%;
    height: 48px;
  }

  &__checkbox {
    @include checkbox;
  }

  &__radiobox {
    @include radiobox;
  }

  &__info {
    color: #bbbcc2;
    font-size: 0.86rem;
    font-weight: 400;

    & > p {
      margin: 0;
    }
  }

  &__error {
    display: block;

    margin-top: 6px;

    font-size: 0.86rem;
    font-weight: 400;
    color: #eb0909;
  }
}
