.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 48px;
  background-color: $colorSunCity;

  &__logo {
    position: absolute;
    left: $space-sm;

    cursor: pointer;

    width: 180px;
    height: 31px;

    background: url('./assets/logo.svg') no-repeat;
  }

  &__burger {
    position: absolute;
    right: 0;
  }
}
