$hamburger-position: 1em !default;
$hamburger-size: 1em !default;
$hamburger-padding-x: 15px !default;
$hamburger-padding-y: 12px !default;
$hamburger-layer-width: 18px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 7px !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

.menu {
  &__hamburger {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;

    display: inline-block;
    overflow: visible;

    margin: 0;
    padding: $hamburger-padding-y $hamburger-padding-x;

    cursor: pointer;
    transition-timing-function: $hamburger-hover-transition-timing-function;
    transition-duration: $hamburger-hover-transition-duration;
    transition-property: opacity, filter;
    text-transform: none;

    color: inherit;
    border: 0;
    outline: none;
    background-color: transparent;

    &.show {
      & .hamburger-inner {
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(45deg);

        &::before {
          top: 0;

          transition: top 0.075s ease, opacity 0.075s 0.12s ease;

          opacity: 0;
        }

        &::after {
          bottom: 0;

          transition: bottom 0.075s ease,
            transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: rotate(-90deg);
        }
      }
    }

    &:hover {
      opacity: $hamburger-hover-opacity;
    }

    & > .hamburger-box {
      position: relative;

      display: inline-block;

      width: $hamburger-layer-width;
      height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    }

    & .hamburger-inner {
      top: 50%;

      display: block;

      margin-top: $hamburger-layer-height / -2;

      &,
      &::before,
      &::after {
        position: absolute;

        width: $hamburger-layer-width;
        height: $hamburger-layer-height;

        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition-duration: 0.075s;
        transition-property: transform;

        border-radius: $hamburger-layer-border-radius;
        background-color: $colorBlack;
      }

      &,
      &::before,
      &::after {
        display: block;

        content: '';
      }

      &::before {
        top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;

        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
      }

      &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;

        transition: bottom 0.075s 0.12s ease,
          transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }
  }

  &__overlay {
    position: absolute;
    z-index: 5;
    top: $hamburger-position + ($hamburger-size / 2);
    right: $hamburger-position + ($hamburger-size / 2);

    width: 300vw;
    height: 300vh;

    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: translate3d(50%, -50%, 0);
    transform-origin: center;

    border-radius: 50%;
    background-color: $colorBg;

    &.show {
      width: 0;
      height: 0;
    }
  }

  &__items {
    position: absolute;
    z-index: 5;

    display: grid;

    box-sizing: border-box;
    width: 100%;
    padding: 0;

    transition: all 0.33s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: translateY(15%);

    opacity: 1;

    &.show {
      transform: translateY(-200%);

      opacity: 0;
    }
  }

  &__item {
    display: grid;
    align-self: center;

    max-width: 1024px;
    margin: 0.5em 3em;

    text-align: left;

    font-weight: 900;
    font-size: 24px;
    line-height: 1.67;

    color: $colorBlack;

    &:active,
    &:hover {
      color: $colorPressed;
    }

    &--hide {
      display: none;
    }
  }
}
