.profile {
  margin-bottom: 20px;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 164px;

  background-color: $colorBg;

  &__initials {
    margin-bottom: 15px;

    width: 56px;
    height: 56px;

    font-weight: bold;
    font-size: 28px;
    line-height: 56px;

    color: #fff;

    background: linear-gradient(180deg, #ffd429 0%, #f1bb17 100%);
    border-radius: 50%;
  }

  &__name {
    @include heading-3;

    margin-bottom: 4px;
  }

  &__email {
    @include body;

    color: $colorTextSecondary;
  }
}

.list {
  background-color: $colorBg;

  padding: 18px 14px;

  &__icon {
    width: 52px;
    height: 52px;

    margin-bottom: 8px;

    background: url('./assets/icons/profile.svg') no-repeat;
  }

  &__header {
    @include heading-2;

    margin-bottom: 11px;
  }

  &__caption {
    @include body;

    margin-bottom: 24px;

    text-align: left;

    color: $colorTextSecondary;
  }
}

.route {
  margin-top: 32px;

  &__item {
    @include body;

    position: relative;
    display: block;

    margin-bottom: 28px;

    color: $colorTextSecondary;
    text-align: left;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: '';

      position: absolute;
      top: 3px;
      left: -30px;

      width: 12px;
      height: 12px;

      border: 2px solid $colorIconSecondary;
      border-radius: 50%;
    }

    &--active {
      color: $colorBlack;

      &::before {
        border: 2px solid $colorSunCity;
      }
    }
  }
}

.list2 {
  font-size: 0.93rem;

  & > .list__item {
    position: relative;

    display: block;

    margin-bottom: 9px;

    font-style: italic;

    &::before {
      content: '';

      position: absolute;
      top: 3px;
      left: -21px;

      width: 12px;
      height: 12px;
    }

    &--active {
      position: relative;

      display: block;

      margin-bottom: 9px;

      color: #6b6a6e;
      font-style: italic;
      text-decoration-line: line-through;

      &::before {
        content: '';

        position: absolute;
        top: 3px;
        left: -21px;

        width: 12px;
        height: 12px;
      }
    }
  }
}
