<template lang="pug">
div.form__item.item
  p.item__headline
    | {{ label }}
  template(v-for="option of options")
    label.item__headline
      input.item__radiobox(:value="option.id" :checked="option.id === value" type="radio" :name="option.id" :id="option.id" :disabled="disabled" @input="update(option.id)")
      span.box
      span.text
        | {{ option.name }}
</template>

<script>
import FormMixin from "@/mixins/FormMixin";

export default {
  name: "FormRadiobox",
  mixins: [FormMixin],
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    options: {
      type: Array,
      required: true
    }
  }
};
</script>
