<template lang="pug">
div.form__item.item
  label.item__headline(:for="id")
    span.item__text
      span.item__required(v-if="required") *
      | {{ label }}

  select.item__select(v-if="options && options.length" :value="value" :required="required" :id="id" :name="id" @input="update($event.target.value)" :class="{ 'item__input--error': error }" :placeholder="placeholder")
    option(v-for="option of options" :key="option.id" :value="option.id" :selected="option.name === value")
      | {{ option.name }}
</template>

<script>
import FormMixin from "@/mixins/FormMixin";

export default {
  name: "FormSelect",
  mixins: [FormMixin],
  props: {
    placeholder: {
      type: String,
      default: ""
    },
    error: {
      type: Boolean,
      default: false
    },
    options: {
      type: Array,
      required: true
    }
  }
};
</script>
