<template lang="pug">
div.form__item.item
  label.item__headline(:for="id")
    span.item__text
      span.item__required(v-if="required") *
      | {{ label }}

  input.item__input(:value="value" :type="config.type" :required="required" :name="id" :id="id" @input="update($event.target.value)" :class="{ 'item__input--error': error }" :placeholder="placeholder")
  
  span.item__error(v-if="error") {{ errorMessage }}
</template>

<script>
import FormMixin from "@/mixins/FormMixin";

export default {
  name: "FormInput",
  mixins: [FormMixin],
  props: {
    config: {
      type: Object,
      default: () => ({ type: "text" })
    },
    placeholder: {
      type: String,
      default: ""
    },
    error: {
      type: Boolean,
      default: false
    },
    errorMessage: {
      type: String,
      default: ""
    }
  }
};
</script>
