<template lang="pug">
div.form__item.item
  label.item__headline(:for="id")
    span.item__text
      span.item__required(v-if="required") *
      | {{ label }}

  textarea.item__textarea(:value="value" :name="id" :id="id" :placeholder="placeholder" @input="update($event.target.value)" :class="{ 'item__input--error': error }")

  span.item__error(v-if="error") {{ errorMessage }}
</template>

<script>
import FormMixin from "@/mixins/FormMixin";

export default {
  name: "FormTextarea",
  mixins: [FormMixin],
  props: {
    placeholder: {
      type: String,
      default: ""
    },
    error: {
      type: Boolean,
      default: false
    },
    errorMessage: {
      type: String,
      default: ""
    }
  }
};
</script>
