<template lang="pug">
div.form__item.item
  label.item__headline(:for="id")
    input.item__checkbox(:checked="value" type="checkbox" :name="id" :id="id" :disabled="disabled" @input="update($event.target.checked)")
    span.box
    span.text
      | {{ label }}
</template>

<script>
import FormMixin from "@/mixins/FormMixin";

export default {
  name: "FormCheckbox",
  mixins: [FormMixin],
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  }
};
</script>
