@import '~rfs/scss';

@import './settings';
@import './mixins';

@import './components';

:root {
  font-family: $font-primary, $font-secondary, 'Avenir', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-text-size;
  font-weight: 400;

  color: $colorBlack;
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}
