<template lang="pug">
div.container
  the-header
  the-menu
  section.another
    header.another__header Ознакомьтесь с другими программами
    p.another__caption У благотворительного фонда “Солнечный Город” есть множество проектов, работающих в разных города России.
    article.another__article.article
      header.article__header Как дома: в Ояше
      p.article__caption Города: Новосибирск
      figure.img-container
        div.img.img-1
        figcaption.img-container__caption Помочь изменить детство особенных детей в Ояшинском детском доме-интернате.
      a.btn.btn--primary(href="#") Перейти на сайт проекта
    article.another__article.article
      header.article__header Остаться с мамой
      p.article__caption Города: Екатеринбург, Новосибирск
      figure.img-container
        div.img.img-2
        figcaption.img-container__caption Помочь мамам в трудной жизненной ситуации не расставаться с детьми.
      a.btn.btn--primary(href="#") Перейти на сайт проекта
    article.another__article.article
      header.article__header Лига волонтёров
      p.article__caption Города: Новосибирск
      figure.img-container
        div.img.img-3
        figcaption.img-container__caption Объединить усилия неравнодушных людей и вместе делать помощь детям эффективной.
      a.btn.btn--primary(href="#") Перейти на сайт проекта

</template>

<script>
import TheMenu from "@/components/TheMenu";
import TheHeader from "@/components/TheHeader";

export default {
  name: "Another",
  components: {
    TheMenu,
    TheHeader
  }
};
</script>

<style lang="scss" scoped>
.container {
  background: url("../assets/another.jpg") no-repeat;
  background-position-y: 46px;
}

.img {
  height: 182px;
}
.img-1 {
  background: url("../assets/another/1.jpg") no-repeat;
}
.img-2 {
  background: url("../assets/another/2.jpg") no-repeat;
}
.img-3 {
  background: url("../assets/another/3.jpg") no-repeat;
}

.btn {
  margin-bottom: 32px;
}
</style>
