<template lang="pug">
div.container
  schema-form.form(:schema="schema" v-model="formData")
    template(#beforeForm)
      h1.form__header Вход
    template(#afterForm)
      button.form__submit.btn.btn--primary(type="button" @click.prevent="onLogin") Войти

  span.caption Еще не успели стать волонтером?
  router-link(:to="{ name: 'signup' }") Зарегистрироваться
</template>

<script>
import { SchemaForm } from "formvuelatte";

import FormInput from "@/components/Form/FormInput";

export default {
  name: "Login",
  components: { SchemaForm },
  data: () => ({
    schema: {
      email: {
        label: "Email",
        component: FormInput,
        required: true,
        config: {
          type: "email"
        },
        id: "email"
      },
      password: {
        label: "Пароль",
        component: FormInput,
        required: true,
        config: {
          type: "password"
        },
        id: "password"
      }
    },
    formData: {}
  }),
  methods: {
    onLogin() {
      const { email, password } = this.formData;

      this.$store
        .dispatch("auth/login", { email, password })
        .then(() => this.$router.push({ name: "profile" }))
        .catch(err => console.error(err));
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  position: absolute;
  padding-bottom: 48px;

  background: url("../assets/login.jpg") no-repeat;
}

.form {
  margin-top: 285px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.schema-form {
  padding: 0;
}

.caption {
  text-align: center;
}
</style>
