<template lang="pug">
div.container
  the-header
  the-menu
  section.profile(v-if="profile")
    div.profile__initials
      | {{ profile.name[0] }}
    div.profile__name
      | {{ profile.name }}
    div.profile__email
      | {{ profile.email }}

  section.list
    div.list__icon
    header.list__header Ваш маршрутный лист
    p.list__caption Здесь отображается ваш прогресс в получении карточки волонтера.
    button.btn.btn--primary(type="button" @click="onQuestionnaire") Заполнить анкету

    ul.route
      li.route__item(v-for="(step, index) of steps" :key="index" :class="{'route__item--active': index === 0}")
        | {{ step }}

</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";

import TheMenu from "@/components/TheMenu";
import TheHeader from "@/components/TheHeader";

export default {
  name: "Profile",
  components: {
    TheMenu,
    TheHeader
  },
  data: () => ({
    profile: null,
    steps: [
      "Заполнить персональную анкету",
      "Получить приглашение на обучение",
      "Пройти обучение",
      "Предоставить необходимые справки",
      "Пройти собеседование",
      "Знакомство с ребенком"
    ]
  }),
  computed: {
    ...mapGetters("auth", ["isAuthenticated"])
  },
  created() {
    axios({
      url: "/api/user",
      method: "GET"
    })
      .then(response => {
        this.profile = response.data;
      })
      .catch(err => {
        console.error(err);
      });
  },
  methods: {
    onLogout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push({ name: "login" });
      });
    },
    onQuestionnaire() {
      this.$router.push({ name: "questionnaire" });
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  padding-bottom: 48px;
  background-color: #f6f6f8;
}
</style>
