<template lang="pug">
div.container
  the-header
  the-menu
  div.progress
    | {{ step + 1 }} / 6 
  div.step(:class="`step-${step}`")
  h1.form__header
    | {{ stepHeader[step] }}
  p.header-caption(v-if="step === 5") Используя данную вами информацию, мы сможем предложить вам наиболее подходящую программу взаимодействия с Воспитанником.
  
  schema-wizard(:schema="schema" :step="step" v-model="questionnaireData")
  button.btn.btn--back(type="button" :disabled="step <= 0" @click="onBack") ←
  button.btn.btn--primary(type="button" v-if="step < 5" @click.prevent="onNext") К следующему шагу
  button.btn.btn--primary(type="button" v-if="step === 5" @click.prevent="onSendQuestionnaire") Отправить анкету
</template>

<script>
import { SchemaWizard } from "formvuelatte";
import { mapState } from "vuex";

import TheMenu from "@/components/TheMenu";
import TheHeader from "@/components/TheHeader";
import FormInput from "@/components/Form/FormInput";
import FormSelect from "@/components/Form/FormSelect";
import FormTextarea from "@/components/Form/FormTextarea";
import FormRadiobox from "@/components/Form/FormRadiobox";

export default {
  name: "Questionnaire",
  components: {
    TheMenu,
    SchemaWizard,
    TheHeader
  },
  data: () => ({
    stepHeader: {
      "0": "Общие сведения",
      "1": "Состояние здоровья",
      "2": "Образование",
      "3": "Карьера",
      "4": "Интересы и хобби",
      "5": "Работа с ребенком"
    }
  }),
  computed: {
    schema() {
      return [
        {
          surname: {
            label: "Фамилия",
            component: FormInput,
            required: true,
            id: "surname"
          },
          name: {
            label: "Имя",
            component: FormInput,
            required: true,
            id: "name"
          },
          patronymic: {
            label: "Отчество",
            component: FormInput,
            required: true,
            id: "patronymic"
          },
          city_id: {
            label: "Город",
            component: FormSelect,
            required: true,
            options: this.cities,
            id: "city_id"
          },
          phone: {
            label: "Телефон",
            component: FormInput,
            required: true,
            config: {
              type: "tel"
            },
            id: "phone"
          },
          email: {
            label: "Email",
            component: FormInput,
            required: true,
            config: {
              type: "email"
            },
            id: "email"
          },
          birthday: {
            label: "Дата рождения",
            component: FormInput,
            required: true,
            config: {
              type: "date"
            },
            id: "birthday"
          },
          nationality_ru: {
            label: "Гражданство РФ",
            component: FormRadiobox,
            required: true,
            options: [{ id: 1, name: "Да" }, { id: 0, name: "Нет" }],
            id: "nationality_ru"
          }
        },
        {
          health_status: {
            label: "Как бы вы оценили свое состояние здоровья?",
            component: FormRadiobox,
            required: true,
            options: [
              { id: 1, name: "Абсолютно здоров" },
              { id: 2, name: "Изредка болею" },
              { id: 3, name: "Часто болею" },
              { id: 4, name: "Есть серьезные заболевания" }
            ],
            id: "health_status"
          },
          ...(this.questionnaireData &&
          this.questionnaireData[1] &&
          this.questionnaireData[1].health_status === 4
            ? {
                health_status: {
                  label: "Как бы вы оценили свое состояние здоровья?",
                  component: FormRadiobox,
                  required: true,
                  options: [
                    { id: 1, name: "Абсолютно здоров" },
                    { id: 2, name: "Изредка болею" },
                    { id: 3, name: "Часто болею" },
                    { id: 4, name: "Есть серьезные заболевания" }
                  ],
                  id: "health_status"
                },
                diseases: {
                  label: "Пожалуйста, перечислите ваши заболевания",
                  component: FormTextarea,
                  id: "diseases"
                }
              }
            : {
                health_status: {
                  label: "Как бы вы оценили свое состояние здоровья?",
                  component: FormRadiobox,
                  required: true,
                  options: [
                    { id: 1, name: "Абсолютно здоров" },
                    { id: 2, name: "Изредка болею" },
                    { id: 3, name: "Часто болею" },
                    { id: 4, name: "Есть серьезные заболевания" }
                  ],
                  id: "health_status"
                }
              })
        },
        {
          education_type: {
            label: "Какое образование вы получили?",
            component: FormSelect,
            required: true,
            options: [
              { id: 1, name: "Высшее" },
              { id: 2, name: "Среднее" },
              { id: 3, name: "Средне-специальное" }
            ],
            id: "education_type"
          },
          education_institution: {
            label: "Укажите учебное заведение",
            component: FormInput,
            required: true,
            id: "education_institution"
          },
          education_degree: {
            label: "Специальность / квалификация",
            component: FormInput,
            required: true,
            id: "education_degree"
          }
        },
        {
          work_company: {
            label: "Место работы",
            component: FormInput,
            required: true,
            id: "work_company"
          },
          work_position: {
            label: "Должность",
            component: FormInput,
            required: true,
            id: "work_position"
          },
          work_schelude: {
            label: "Рабочий график",
            component: FormInput,
            required: true,
            id: "work_schelude"
          }
        },
        {
          interests: {
            label: "Чем вы любите заниматься в свободное время?",
            component: FormTextarea,
            required: true,
            placeholder:
              "Например, бег, игра на музыкальном инструменте, или жонглирование",
            id: "interests"
          }
        },
        {
          reason: {
            label: "Почему вы решили присоединиться к программе?",
            component: FormTextarea,
            required: true,
            placeholder:
              "Например, бег, игра на музыкальном инструменте, или жонглирование",
            id: "reason"
          },
          child_expectations_age: {
            label:
              "С ребенком какого возраста вам комфортнее было бы взаимодействовать?",
            component: FormInput,
            required: true,
            id: "child_expectations_age"
          },
          child_expectations_sex: {
            label:
              "С ребенком какого пола вам комфортнее было бы взаимодействовать?",
            component: FormRadiobox,
            required: true,
            options: [{ id: 0, name: "Девочка" }, { id: 1, name: "Мальчик" }],
            id: "child_expectations_sex"
          },
          visits_frequency: {
            label: "Как часто вы сможете навещать ребенка?",
            component: FormSelect,
            required: true,
            options: [
              { id: 1, name: "1 раз в неделю" },
              { id: 2, name: "1 раз в месяц" },
              { id: 3, name: "Как будет небоходимо по Программе" }
            ],
            id: "visits_frequency"
          },
          bad_habbits_drugs: {
            label: "Употребляли ли вы наркотические вещества?",
            component: FormRadiobox,
            required: true,
            options: [{ id: 1, name: "Нет" }, { id: 2, name: "Да" }],
            id: "bad_habbits_drugs"
          }
        }
      ];
    },
    questionnaireData: {
      get() {
        return this.$store.state.questionnaire.questionnaireData;
      },
      set(questionnaireData) {
        this.$store.dispatch(
          "questionnaire/setQuestionnaireData",
          questionnaireData
        );
      }
    },
    step: {
      get() {
        return this.$store.state.questionnaire.step;
      },
      set(step) {
        this.$store.dispatch("questionnaire/setStep", step);
      }
    },
    ...mapState("auth", ["cities"])
  },
  created() {
    this.$store.dispatch("auth/getCities");
    this.$store.dispatch("questionnaire/getQuestionnaire");
  },
  methods: {
    onSendStep() {
      this.$store.dispatch("questionnaire/putStep", {
        questionnaire: [this.questionnaireData[this.step - 1]],
        step: this.step
      });
    },
    onSendQuestionnaire() {
      this.$store
        .dispatch("questionnaire/putQuestionnaire", {
          status: "under_review"
        })
        .then(() => this.$router.push({ name: "profile" }));
    },
    onNext() {
      this.step = this.step + 1;

      this.onSendStep();
    },
    onBack() {
      this.step = this.step - 1;
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  padding-bottom: 48px;
}

.form__header {
  margin: 0;
  padding: 12px;
}

.step {
  margin: 0 12px;

  width: 45px;
  height: 45px;
}
.step-0 {
  background: url("../assets/icons/step-0.svg") no-repeat;
}
.step-1 {
  background: url("../assets/icons/step-1.svg") no-repeat;
}
.step-2 {
  background: url("../assets/icons/step-2.svg") no-repeat;
}
.step-3 {
  background: url("../assets/icons/step-3.svg") no-repeat;
}
.step-4 {
  background: url("../assets/icons/step-4.svg") no-repeat;
}
.step-5 {
  background: url("../assets/icons/step-5.svg") no-repeat;
}

.btn {
  margin: 0;
  padding: 0 15px;

  display: inline-block;

  &--back {
    min-width: 76px;

    margin-right: 9px;
  }

  &--primary {
    min-width: 261px;
  }
}
</style>
