<template lang="pug">
div.container
  schema-form.form(:schema="schema" v-model="formData")
    template(#beforeForm)
      h1.form__header Начни помогать уже сегодня
      span.caption Создайте аккаунт, чтобы начать получение Карточки волонтера.
      br
      span.caption Уже есть аккаунт?
      router-link(:to="{ name: 'login' }") Войти в систему
    template(#afterForm)
      button.form__submit.btn.btn--primary(type="button" @click.prevent="onSignup" :disabled="!formData.agreement") Зарегистрироваться

  router-link(:to="{name: 'another'}") Не нашли свой город в списке?
</template>

<script>
import { SchemaForm } from "formvuelatte";
import { mapState } from "vuex";

import FormInput from "@/components/Form/FormInput";
import FormSelect from "@/components/Form/FormSelect";
import FormCheckbox from "@/components/Form/FormCheckbox";

export default {
  name: "Signup",
  components: { SchemaForm },
  data: () => ({
    formData: {}
  }),
  computed: {
    schema() {
      return {
        city_id: {
          label: "Город",
          component: FormSelect,
          required: true,
          options: this.cities,
          id: "city_id"
        },
        name: {
          label: "Имя",
          component: FormInput,
          required: true,
          id: "name"
        },
        email: {
          label: "Email",
          component: FormInput,
          required: true,
          config: {
            type: "email"
          },
          id: "email"
        },
        birthday: {
          label: "Дата рождения",
          component: FormInput,
          required: true,
          config: {
            type: "date"
          },
          id: "birthday"
        },
        password: {
          label: "Пароль",
          component: FormInput,
          required: true,
          config: {
            type: "password"
          },
          id: "password"
        },
        agreement: {
          label:
            "Нажимая Зарегистрироваться, я соглашаюсь с обработкой персональных данных",
          component: FormCheckbox,
          id: "agreement"
        }
      };
    },
    ...mapState("auth", ["cities"])
  },
  created() {
    this.$store.dispatch("auth/getCities");
  },
  methods: {
    onSignup() {
      const { name, email, city_id, birthday, password } = this.formData;

      this.$store
        .dispatch("auth/signup", { name, email, city_id, birthday, password })
        .then(() => this.$router.push({ name: "profile" }))
        .catch(err => console.error(err));
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  position: absolute;
  padding-bottom: 48px;

  background: url("../assets/signup.jpg") no-repeat;
}

.form {
  margin-top: 285px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.schema-form {
  padding: 0;
}

.caption {
  display: inline-block;
  text-align: left;
}
</style>
