<template lang="pug">
header.header
  span.header__logo(@click="onHeader")
</template>

<script>
export default {
  name: "TheHeader",
  methods: {
    onHeader() {
      if (this.$route.name !== "profile") {
        this.$router.push({ name: "profile" });
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
