<template lang="pug">
section.menu
  div.menu__overlay.show
  button.menu__hamburger(type='button' @click.prevent="onToggleMenu")
    div.hamburger-box
      div.hamburger-inner
  menu.menu__items.show
    .menu__item(v-if='!isAuthenticated' @click="onLogin") Вход / Регистрация
    .menu__item(v-if='!isAuthenticated' @click="onAnother") Список проектов
    .menu__item.menu__item--hide(v-if='isAuthenticated') События
    .menu__item.menu__item--hide(v-if='isAuthenticated') Сообщения
    .menu__item.menu__item--hide(v-if='isAuthenticated') Дневник встреч
    .menu__item.menu__item--hide(v-if='isAuthenticated') Написать о встрече
    .menu__item.menu__item--hide FAQ
    .menu__item(v-if='isAuthenticated' @click="onLogout") Выход
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "TheMenu",
  computed: {
    ...mapGetters("auth", ["isAuthenticated"])
  },
  methods: {
    onToggleMenu(e) {
      const overlay = document.querySelector(".menu__overlay");
      const button = document.querySelector(".menu__hamburger");
      const items = document.querySelector(".menu__items");
      const toggle = [overlay, button, items];

      toggle.forEach(v => v.classList.toggle("show"));

      e.currentTarget.blur();
    },
    onLogin() {
      this.$router.push({ name: "login" });
    },
    onLogout() {
      this.$store.dispatch("auth/logout").then(() => {
        this.$router.push({ name: "login" });
      });
    },
    onAnother() {
      if (this.$route.name !== "another") {
        this.$router.push({ name: "another" });
      }
    }
  }
};
</script>
