$colorSunCity: #ffd429;
$colorPressed: #f0b607;
$colorDisabled: #ffea94;

$colorBlack: #232934;
$colorTextSecondary: #8b909e;
$colorIconSecondary: #d1d3da;
$colorTextInput: #f5f5f7;
$colorInverted: #fff;
$colorBg: #fff;
$colorBgSecondary: #f6f6f8;
$colorLines: #f0f1f3;
$colorSuccess: #3ece44;
$colorError: #eb0909;
$colorWarning: #f5a915;
