$font-primary: 'Lato';
$font-secondary: sans-serif;

$base-text-size: 15px;

@mixin heading-1 {
  @include rfs(2rem, font-size);
  line-height: 1.33;
  font-weight: 900;
  text-align: left;
}

@mixin heading-2 {
  @include rfs(1.4rem, font-size);
  line-height: 1.52;
  font-weight: 700;
  text-align: left;
}

@mixin heading-3 {
  @include rfs(1.2rem, font-size);
  line-height: 1.28;
  font-weight: 700;
  text-align: left;
}

@mixin heading-4 {
  @include rfs(0.87rem, font-size);
  line-height: 1.54;
  font-weight: 700;
  text-transform: uppercase;
  color: $colorTextSecondary;
}

@mixin body {
  @include rfs(1rem, font-size);
  line-height: 1.53;
  font-weight: 400;
}

@mixin body-bold {
  @include rfs(1rem, font-size);
  line-height: 1.53;
  font-weight: 700;
}

@mixin caption {
  @include rfs(0.87rem, font-size);
  line-height: 1.62;
  font-weight: 400;
}

@mixin inputLabel {
  @include rfs(0.87rem, font-size);
  line-height: 1.23;
  font-weight: 700;
}

@mixin step {
  @include rfs(0.87rem, font-size);
  line-height: 1.36;
  font-weight: 700;
}

@mixin buttonText {
  @include rfs(1rem, font-size);
  font-weight: 700;
  line-height: 1.53;
}

@mixin caption-semibold {
  @include rfs(0.93rem, font-size);
  line-height: 1.62;
  font-weight: 600;
}

@mixin caption-2 {
  @include rfs(0.86rem, font-size);
  line-height: 1.33;
  font-weight: 400;
}

@mixin caption-semibold-2 {
  @include rfs(0.86rem, font-size);
  line-height: 1.33;
  font-weight: 600;
}

@mixin menu-item {
  @include rfs(0.715rem, font-size);
  line-height: 1.5;
  font-weight: 700;
}

@mixin chat-name {
  @include rfs(1.07rem, font-size);
  line-height: 1.6;
  font-weight: 700;
}

@mixin chat-preview {
  @include rfs(0.93rem, font-size);
  line-height: 1.46;
  font-weight: 700;
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.caption {
  @include caption;
}

.header-caption {
  @include body;

  padding: 0 12px;

  text-align: left;
  color: $colorTextSecondary;
}
