@mixin textarea {
  padding: 10px;

  resize: vertical;

  font-family: 'Lato';
  font-size: 1rem;

  border: 1px solid #dcdde1;
  border-radius: 3px;

  outline: none;

  &:focus:not(:disabled),
  &:active:not(:disabled) {
    border-color: $colorSunCity;
    box-shadow: 0 0 6px -2px $colorDisabled;
  }

  &::placeholder {
    font-family: 'Lato';
    font-size: 1rem;

    color: #bbbcc2;
  }

  &:disabled {
    user-select: none;
    cursor: not-allowed;

    background-color: #f7f8fa;
    color: #9fa0aa;
  }

  &--error {
    border-color: #eb0909;

    &:focus,
    &:active {
      border-color: #eb0909;
      box-shadow: 0 0 6px -2px #f58282;
    }
  }
}
